.home-page{
    position: relative;
    width: 100%;
    height: auto;
}

.home-page__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    width: 100%;
    background-image: url("./assets/png/rain_bk.png");
    background-position: 50% 35%;
    background-repeat: repeat-y;
    background-size: cover;
}

.home-page__info p{
    font-family: var(--font-family-PT_Serif);
    font-style: normal;
}

.home-page__info p:nth-of-type(odd){
    color: var(--cr-white);
}

.home-page__info p:nth-of-type(even){
    color: var(--cr-yellow);
}

.home-page__info p:first-child{
    margin-top: 27px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.home-page__info p:nth-of-type(2){
    margin-top: 22px;

}

.home-page__info p:not(:first-child){
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 19px;
    width: 85%;
    text-align: center;
    letter-spacing: 0.05em;
}

.home-page__info H2{
    margin-top: 40px;
    width: 80%;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: var(--cr-yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pass-test{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 41px;
    font-family: var(--font-family-Merriweather);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 20px;
    transition: box-shadow ease .4s;
}

.pass-test__first{
    margin-top: 150px;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    color: var(--cr-pale-black);
}

.pass-test__first:hover,
.pass-test__second:hover{
    box-shadow: 0px 0px 30px red;
    transition: box-shadow ease .4s;
}

.info__container{
    height: auto;
}

.info__container{
    position: relative;
    margin-bottom: 11px;
    width: 70px;
    height: 40px;
}

.info__container a{
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    height: 100%;
    width: 100%;


    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--cr-white);
}

.info__container a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: var(--bd-cr-white);
    border-radius: 50%;
}

.info__container a::after{
    content: "";
    position: absolute;
    top:  10px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../../assets/svg/arrov.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 50%;
}


.home-page__text{
    display: flex;
    background: radial-gradient(84.34% 50.29% at 48.75% 49.71%, #2950C2 0%, rgba(38, 91, 199, 0.96) 40.62%, rgba(39, 98, 187, 0) 85.42%),
    url("./assets/png/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page__text p{
    position: relative;
    margin: 83px auto 56px;
    padding: 23px;
    width: 80%;
    font-family: var(--font-family-Yeseva-One);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--cr-white);
    z-index: 3;
}

.home-page__text p::before,
.home-page__text p::after{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("./assets/svg/brackets.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page__text p::before{
    top: -23px;
    left: 0px;
}

.home-page__text p::after{
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}

.home-page__conclusion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--bd-cr-white);
}

.home-page__conclusion p{
    margin: 38px 0;
    width: 95%;
    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--cr-pale-grey);
}

.home-page__conclusion p>span{
    font-weight: 700;
    text-transform: uppercase;
}

.home-page__conclusion p>span>span{
    text-transform: lowercase;
}

.home-page__conclusion img{
    width: 60%;
}

.pass-test__second{
    margin: 30px 0px 40px;
    background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
    color: var(--cr-pale-black);
}

.home-page__fin{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/png/rain_bk2.png");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
}

.home-page__fin::before,
.home-page__fin::after{
    content: "";
    position: absolute;
    width: 165px;
    height: 165px;
    background-image: url(./assets/png/lightning_PNG9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    animation-iteration-count: infinite;

}

.home-page__fin::before{
    left: -40px;
    bottom: 10%;
    transform: rotate(-15deg);
    animation-duration: 4.5s;
    animation-name: anim_lightning_first;
}

.home-page__fin::after{
    right: -50px;
    top: 10%;
    transform: rotate(75deg);
    animation-duration: 6.5s;
    animation-name: anim_lightning_second;
}


@keyframes anim_lightning_first{
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes anim_lightning_second{
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}

.home-page__fin p:first-of-type{
    width: 95%;
    margin: 56px 0px 0px;
    font-family: var(--font-family-Merriweather);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--cr-white);
    z-index: 6;
}

.home-page__fin p:first-child>span{
    font-weight: 900;
    color: var(--cr-yellow);
}

.home-page__fin p:last-of-type{
    width: 95%;
    margin: 14px 0px 0px;
    padding: 29px 27px 31px 14px;
    font-family: var(--font-family-Merriweather);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 23px;
    letter-spacing: 0.05em;
    background-color: rgba(243, 243, 242, 0.8);
    border-radius: 20px;
    color: #181818;
    z-index: 6;
}

.home-page__fin p:last-of-type>span{
    font-weight: 700;
}

.pass-test__third{
    margin: 33px 0px 52px;
    background-color: transparent;
    border: 2px solid var(--cr-white);
    color: var(--cr-white);
    transition: all ease .4s;
    z-index: 6;
}

.pass-test__third:hover,
.pass-test__third:active{
    background-color: var(--bd-cr-pale-yellow);
    border: none;
    box-shadow: 0px 0px 30px red;
    color: var(--cr-black);
    transition: all ease 1s;
}

.home-page__fin>span{
    position: relative;
    width: 40px;
    margin-bottom: 20px;
    font-family: var(--font-family-Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    text-align: end;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
}

.home-page__fin>span::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./assets/svg/cod.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
