.last-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("/assets/png/rain_bk2rev.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.last-page h2{
    width: 90%;
    margin-top: 5.2%;

    font-family: var(--font-family-PT_Serif);
    font-weight: 700;
    font-size: 3rem;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--cr-white);
    z-index: 7;
}

.last-page__text-first{
    width: 40%;
    margin-top: 4.2%;
    font-family: var(--font-family-PT_Serif);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 24px;

    text-align: center;
    color: var(--cr-white);
    z-index: 7;
}

.last-page__text-first span{
    text-decoration: underline;
}

.last-page h3{
    width: 90%;
    margin-top: 5.5%;

    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 22px;

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--cr-green);
    z-index: 7;
}

.last-page__text-second{
    width: 40%;
    margin-top: 4.2%;
    padding: 15px;
    font-family: var(--font-family-Roboto);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    color: var(--cr-white);
    background-color: var(--bd-cr-dark-grey);
    border-radius: 6px;
    z-index: 7;
}

.last-page-cont{
    width: 40%;
    color:var(--cr-green);
    z-index: 7;
}

.last-page-cont>p{
    font-family: var(--font-family-PT_Serif);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.1em;
    z-index: 7;
}

.last-page-cont__timer{
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 7;
}

.timer__minut,
.timer_text{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--cr-green);
    z-index: 7;
}

.timer_text:last-child{
    margin-left: 5px;
    font-size: 1.8rem;
}

.last-page__call-btn{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2.1%;
    margin-bottom: 10.5%;
    width: 290px;
    height: 92px;
    border-radius: 5px;
    background-color:var(--bd-cr-red);
    padding-left: 62px;

    font-family: var(--font-family-Roboto);
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: start;
    color: var(--cr-white);

    z-index: 7;
}

.last-page__call-btn::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 29px;
    background-image: url("/assets/svg/tell.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.last-page__text-third{
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    font-family: var(--font-family-Roboto);
    font-weight: 400;
    font-size: .7rem;
    line-height: 9px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}

.last-page::before,
.last-page::after{
    content: "";
    position: absolute;

    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
}

.last-page::before{
    left: -100px;
    bottom: 0;
    background-image: url("/assets/png/lightning_PNG9.png");
    animation-duration: 4.5s;
    animation-name: anim_lightning_first;
}

.last-page::after{
    right: -70px;
    bottom: 0;
    background-image: url("/assets/png/lightning_PNG9_rev.png");
    animation-duration: 6.5s;
    animation-name: anim_lightning_second;
}

.GET-req-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: var(--bd-cr-dark-grey);
}
.GET_text-cont{
    margin: auto;
    padding: 10px;
    width: 260px;
}

.GET_text-cont:not(:last-of-type){
    border-bottom: 2px solid white;
}

.GET_text-cont p{
    margin-top: 10px;
}

.GET_text_name{
    font-size: 2.8rem;
    color: red;

}

.GET_text_val{
    font-size: 1.8rem;
    word-break: break-all;
    line-height: 20px;
    color: white;
}