.test-container{
    height: 100vh;
    background-image: url("/assets/png/rain_bk2rev.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test-indicator{
    padding: 63px 30px 0px;
    min-width: 50%;
}

.indicator-cont{
    position: relative;
    display: flex;
    margin: auto;
    width: 50%;
    height: 11px;
    background-color: var(--bd-cr-nav-grey);
    border-radius: 10px;
}

.indicator-cont>div{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2%;
    height: 100%;
    background-color: var(--bd-cr-pale-green);
    border-radius: 10px;
}

.test-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    min-height: 65%;
    height: auto;
}

.test-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

.test-question p{
    width: 90%;
    margin: 0 auto;
    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--cr-white);
}

.test-question img{
    margin-top: 20px;
}

.test-answer{
    width: 100%;
}

.test-answer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.test-answer-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.test-answer-list-item:not(:last-of-type){
    margin-bottom: 10px;
}

.radio-test-label{
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 0px;
    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.05em;

    color: var(--cr-white);
    background-color: rgba(151, 151, 151, .5);
}

.radio-test-label::before{
    content: "";
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--cr-white);
}

.radio-test-label::after{
    display: none;
    content: "";
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--cr-black);
    background-color: var(--bd-cr-blue);
}

.radio-test-input{
    display: none;
}

.radio-test-input:checked+.radio-test-label{
    color: var(--cr-black);
    background-color: var(--bd-cr-pale-yellow);
    transition: all ease .5s;
}

.radio-test-input:checked+.radio-test-label::after{
    display: block;
}

.radio-test-label p{
    width: 75%;
    text-align: start;
    margin-left: 20%;
}

.test-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.test-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 62px;
    font-family: var(--font-family-Merriweather);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;


    border-radius: 20px;
    color: var(--cr-light-grey);
    background-color: var(--bd-cr-nav-light-grey);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

._active-test-btn{
    background-color: var(--bd-cr-pale-yellow) !important;
    color: var(--cr-pale-black) !important;
} 

.test-btn button:active{
    width: 205px;
    transition: all .4s;

}
/*Color test Start*/
.test-answer-color{
    width: 100%;
    height: 273px;
}

.test-answer-list-color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 267px;
    height: 100%;
}

.test-answer-list-color-item{
    width: 75px;
    height: 75px;
}

.radio-test-input:checked+.radio-test-label-color{
    border: 6px solid var(--cr-yellow);
}

.radio-test-label-color{
    display: block;
    width: 100%;
    height: 100%;
}
/*Color test End*/
/*Pictures test Start*/
.test-answer-image{
    width: 100%;
}

.test-answer-list-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 286px;
    margin: auto;
}

.test-answer-list-item-image{
    background-color: var(--cr-white);
    width: 42px;
    height: 42px;
}

.radio-test-label-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.radio-test-input:checked+.radio-test-label-image{
    border: 6px solid var(--cr-yellow);
}

.radio-test-label-image p{
    font-family: var(--font-family-PT_Serif);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--cr-pale-black);
}
/*Pictures test End*/
/*results Part Start*/
.results{
    width: 90%;
    margin: auto;
}

.results__banner{
    width: 80%;
    margin: 49px auto 33px;
    font-family: var(--font-family-PT_Serif);
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--cr-white);
}

.results__cont{
    height: auto;
    margin-bottom: 28px;
}

.results__cont-dec{
    position: relative;
    margin: auto;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-image: url("/assets/svg/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: anim_res-loader;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes anim_res-loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.results__text{
    width: 85%;
    margin: auto;
    font-family: var(--font-family-PT_Serif);
    font-weight: 400;
    font-size: 2rem;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--cr-white);
}
/*results Part End*/